<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GoPS'17 - 合同誌 on プリパラシステム '17</title>
</head>
<body>
    <h1>
      Call for papers
    </h1>
    サブミット済のタイトルの一覧です。
    <ul> 
		{{#papers}}
      <li>
        {{name}}: {{abst_url}}
      </li>
		{{/papers}}
    </ul>
    <ul> 
		{{#users}}
      <li>
        {{name}}
      </li>
		{{/users}}
    </ul>
		{{username}}
</body>
</html>
